<h1>Edit Article</h1>
<form action="/articles/edit" method="POST">
    <div>
        <h3>Editing: {{title}}</h3>
    </div>
    <div>
        <label for="title">Current Title</label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="title">New Article Title</label>
        <input type="text" name="newTitle" id="newTitle">
    </div>
    <div>
        <label for="body">Body</label>
        <input type="text" name="body" id="body">
    </div>
    <div>
        <label for="author">By</label>
        <input type="text" name="author" id="author">
    </div>
    <div>
        <label for="urlTitle">urlTitle</label>
        <input type="text" name="urlTitle" id="urlTitle">
    </div>
    <div>
        <button>Finshed Editing</button>
    </div>

</form>
<form action="/articles/{{title}}/delete" method="GET">
    <div>
        <button type="submit">Delete Article</button>
    </div>
</form>