<h1 id="intro">Welcome to the Dojo</h1>
<h2 id='path'>Select Your Path</h2>
<div id='introButtons'>
    <form action="/articles" method="GET">
        <div>
            <button class="inButton" type="submit">Articles</button>
        </div>

    </form>
    <form action="/products" method="GET">
        <div>
            <button class="inButton" type="submit">Products</button>
        </div>
    </form>
</div>

<div id='dojoImg'>
    <img src="https://pbs.twimg.com/profile_images/875787192789905409/qZC6LBM0_400x400.jpg" alt="">
</div>