<h1>Create New Article</h1>
<form action="/articles" method="POST">
    <div>
        <label for="title">
            Title of Article
        </label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="body">
            Body Content
        </label>
        <input type="text" name="body" id="body">
    </div>
    <div>
        <label for="author">
            Author of Article
        </label>
        <input type="text" name="author" id="author">
    </div>
    <div>
        <label for="urlTitle">
            urlTitle
        </label>
        <input type="text" name="urlTitle" id="urlTitle">
    </div>
    <div>
        <button>Post New Article</button>
    </div>
</form>