<h1>Create New Product</h1>
<form action="/products" method="POST">
    <div>
        <label for="name">
            Name of Product
        </label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="price">
            Price
        </label>
        <input type="text" name="price" id="price">
    </div>
    <div>
        <label for="inventory">
            Inventory
        </label>
        <input type="text" name="inventory" id="inventory">
    </div>
    <div>
        <button>Create New Product</button>
    </div>
</form>